body {
    background-color: rgb(121, 179, 212);
}

h1,
p {
    margin: 0;
    color: black;
}

html {
    font-family: 'Quicksand', sans-serif;
}

.profile-pic {
    display: inline-block;
    border: 2px solid tomato;
    padding: 0;
    width: 300px;
    height: 300px;
}

figure {
    margin: auto;
    align-items: center;
}

.container {
    margin: 2px 15%;
    background-color: rgb(255, 255, 255);
    padding: 2%;
    border-radius: 12px;
}

.member {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1% 0;
}

h1 {
    font-size: 2em;
}

img {
    display: block;
}

.whoami {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 2px solid tomato;
    border-radius: 25px;
    padding: 1% 2%;
    margin-left: 2%;
    background-color: rgba(121, 179, 212, 0.2);
}

@media (max-width:1080px) {
    .member {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    figure {
        margin: auto;
        width: 42vw;
    }
    .whoami {
        margin: 2%
    }
    .profile-pic {
        width: 42vw;
        height: 42vw;
    }
}

.aboutus {
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
    margin-bottom: 40px;
}

p {
    margin: 0.5%;
}

ul {
    margin: 0;
}

.fa {
    padding: 11px;
    font-size: 23px;
    width: 23px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    transform: translate(-1px, -1px);
    box-shadow: grey 2px 2px;
    transition: 0.2s ease-in-out;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-facebook:hover {
    background: #5170b3;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-linkedin:hover {
    background: #1796d1;
    color: white;
}

.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: white;
}

.fa-instagram:hover {
    background: radial-gradient(circle at 30% 107%, #faf2a0 0%, #faf3a2 5%, #ff695c 45%, #f341bb 60%, #4271fd 90%);
    color: white;
}