/* ######## FONTS AND DEFAULT PARAMETERS ######## */
/*Everypage Background*/
.bgcolor {
  background: azure;
}

/*page Margin probably*/
.margin {
  margin: 0 2.5vh;
}

/* ######## size control ######## */
.auto-size {
  max-width:100%;
  max-height: 100%;
  height:auto;
}

/* ######## MAIN AND GRID SECTIONING ######## */
.highlighth_hov:hover {
  opacity: 0.9;
  transition: 0.5s ease-out;
}

.grid-container {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-top: 5px;
  padding-bottom:5px;
}
.grid-item{
  background-color: rgba(197, 197, 197, 0.5);
  padding-left: 4px;
  padding-right: 4px;
}
.item-wide {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 1;
}
.item-wide-2-l {
  background-color: rgba(197, 197, 197, 0.5);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}
/*
.item-wide-2-c {
  background-color: rgba(197, 197, 197, 0.5);
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
}
*/
.item-wide-2-r {
  background-color: rgba(197, 197, 197, 0.5);
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 2;
}
.item-wide-3 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 3;
}
.item-wide-4 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 4;
}

/* ######## END OF GRID SECTIONING ######## */


/* ######## GENRE CAROUSEL CONTROL ######## */

.carousel {
  background: azure;
}

.carousel-cell {
  width: 300px;
  height: 300px;
  margin-right: 5%;
  overflow: hidden;
}

.carousel-cell img{
  border-radius: 20px;
  width: 300px;
  height: 300px;
  margin-right: 2%;
  filter: blur(4px);
  overflow: hidden;
  counter-increment: gallery-cell;
}

.carousel-cell img:hover {
  filter: blur(2px);
  overflow: hidden;
  opacity: 0.9;
  transition: 0.5s ease-out;
  cursor: pointer;
}

.rev-carousel {
  background: #EEE;
}

.rev-carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
  filter: none;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}


.trending {
  width: 300px;
  height: 420px;
  margin: 1%;
  overflow: hidden;
}

.trending img{
  width: 300px;
  height: 420px;
  margin-right: 0;
  filter: none;
}

.trending:first-child{
  padding-left: 5%;
}

.trending:last-child{
  padding-right: 5%;
}

.trending-carousel {
  padding: 0 5%;
}

/* ######## END GENRE CAROUSEL CONTROL ######## */