.grid-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    min-height: 73.7vh;   
}

/* Admin box with added text*/
.admin-container
{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    min-height: 73.7vh;   
}

/* Admin Header text */
.adminText
{
    background-color: #2c1212;
    color:#ccc;
    text-align: center;
    border: 3px solid #000000;
    border-bottom: none;
}



form {
    border: 3px solid #000000;
    display: block;
    flex-direction: column;
    background-color: #443737;
    color: seashell;
}

input[type=text], input[type=password] 
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-btn {
    display: block;
    text-align: center;
}

button 
{
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
        
/* Add a hover effect for buttons */
button:hover 
{
    opacity: 0.8;
}
        
/* Extra style for the cancel button (red) */
.cancelbtn 
{
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
        
/* Center the avatar image inside this container */
.imgcontainer 
{
    text-align: center;
    margin: 24px 0 12px 0;
    background-color: #272121;

}
        
/* Avatar image */
img.avatar 
{
    width: 50%;
    /*border-radius: 50%;*/
}
        
/* Add padding to containers */
.container 
{
    padding: 16px;
}
        
/* The "Forgot password" text */
span.psw 
{
    float: right;
    padding-top: 16px;
    color:dimgray;
}
